.hero{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(128, 128, 128, 0.378),rgba(128, 128, 128, 0.378)),url('../../images/room_01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h1{
    color: var(--while) !important;
    font-size: 50px !important;
}
.hero p{
    color: var(--while) !important;
    opacity: 0.8;
}