.login_page{
    height: 100vh;
    display: flex;
    width: 100%;
    background-image:  linear-gradient(rgba(57, 57, 57, 0.729),rgba(57, 57, 57, 0.729)),
    url('../images/house\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon_forPerson{
    font-size: 8rem;
    position: relative;
}
.h100{
    box-sizing: border-box;
    height: 100vh;
}
.icon_forPerson::before{
    content: 'Hello';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: red;
}